body {
  font-family: "Jost", sans-serif;
  background: #111b34 url("bg.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.125rem;
}

h1,h2,h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  max-width: 300px;
  text-align: center;
}

hr {
  margin: 2rem 0;
}

a {
  color: #fade57;
}

p {
  margin-bottom: 0.5rem;
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  margin-bottom: 2rem;
}
